<div class="example">
  {% if title %}<p class="example__label">{{ title }}</p>{% endif %}
  <div class="example__demo">
    {{ html }}
  </div>
  <details>
    <summary>Show HTML</summary>
    <pre><code>{{ html | strip | xml_escape }}</code></pre>
  </details>
</div>
